<?xml version="1.0" encoding="utf-8" ?>
<nlog internalLogFile="${basedir}\logs\nlog.txt" internalLogLevel="Trace" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false"
      autoReload="true">

  <variable name="appName" value="sqljobmgrWS" />
  
<targets async="true">
	<target name="db"
        xsi:type="Database"
        dbProvider="System.Data.SqlClient"
        connectionString="server=localhost;Database=db_app_support;user id=<sql_user_here>;password=<password_here>"
        commandType="StoredProcedure"
        commandText="[dbo].[NLog_AddEntry_p]"
        >
	<parameter name="@machineName"    layout="${machinename}" />
	<parameter name="@logged"         layout="${date}" dbType="DbType.Date"/>
	<parameter name="@level"          layout="${level}" />
	<parameter name="@message"        layout="${message}" />
	<parameter name="@logger"         layout="${logger}" />
	<parameter name="@properties"     layout="${all-event-properties:separator=|}" />
	<parameter name="@callsite"       layout="${callsite}" />
	<parameter name="@exception"      layout="${exception:tostring}" />
	</target>
  <target name="logfile" 
          xsi:type="File" 
          fileName="sqljobmgrWS.log" 
          layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
          keepFileOpen="false"
          archiveEvery="Minute"
          archiveFileName="${basedir}/Archives/log.{#}.txt"
          archiveNumbering="Date"
          archiveDateFormat="yyyy-MM-dd"
          maxArchiveFiles="7"
          
          />
  <target xsi:type="EventLog"
        name="eventlog"
        source="${appName}"
        layout="${message}${newline}${exception:format=ToString}"
        log="Application"
        machineName="."
          />

  <target xsi:type="Null" name="blackhole" formatMessage="false" layout="Layout" />

    <target name="eMail" xsi:type="Mail" html="true" subject="Service Now Integration - SSIS Job Manager Error - ${shortdate}" body="${message} ${newline} ${exception:format=ToString}"
         to="david.benedict@contoso.com"
         from="no-reply@contoso.com"
         Encoding="UTF8"
         enableSsl="False"
         smtpAuthentication="None"
         smtpServer="my.smtpserver.com"
         smtpPort="25" />

  <target xsi:type="FallbackGroup" name="fb" returnToFirstOnSuccess="true">
    <target xsi:type="EventLog"
            name="evtlog"
            source="${appName}"
            layout="${message}${newline}${exception:format=ToString}"
            log="Application"
            machineName="."
          />
    <target xsi:type="File"
          name="f"
          fileName="${basedir}/logs/${processname}-${shortdate}.log"
          layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}" />

  </target>
  
</targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="db" />
    <logger name="*" minlevel="Debug" writeTo="db" />
    <logger name="*" minlevel="Error" writeTo="db" />
    
  </rules>
</nlog>
